{% extends 'scheduler/base.html' %}

{% block content %}

<div style="display: none" id="alert-ok" class="alert alert-success"></div>
<div style="display: none" id="alert-err" class="alert alert-danger"></div>

<div class="row">

    <div class="col-md-6">

        <div class="container">

            <div class="heading-primary mb-5">
                <p class="heading-primary--text">Tickets Assigned</p>
            </div>

            <table class="table table-bordered my-5 table-sm justify-content-center text-center">

                <thead class="bg-info">
                <tr>
                    <th>Subject</th>
                    <th>Request By</th>
                    <th>User Email</th>
                    <th>Department</th>
                    <th>Ticket Status</th>
                    <th>Ticket Priority</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ticket.subject}}</td>
                    <td>{{ticket.username}}</td>
                    <td>{{ticket.email}}</td>
                    <td>{{ticket.user_department}}</td>
                    <td id="ticket-status">{{ticket.ticket_status}}</td>
                    <td>{{ticket.ticket_priority}}</td>
                </tr>
                </tbody>

            </table>

            <div>

                <p>Ticket Description</p>

                <div class="form-group">
                    <textarea class="form-control" readonly>{{ticket.ticket_description}}</textarea>
                </div>

            </div>

            <div>

                <p>Location Info</p>

                <div class="form-group">
                    <textarea class="form-control" readonly>{{ticket.location_info}}</textarea>
                </div>

            </div>


            <div class="heading-primary mb-5">
                <p class="heading-primary--text">Avalible Actions</p>
            </div>

            <table id="action-table" class="table table-bordered my-5 table-sm justify-content-center text-center">

                <thead class="bg-info">
                <tr>
                    <th>Email User</th>
                    <th>Add Note</th>
                    <th>Suspend Ticket</th>
                    <th>Close Ticket</th>
                </tr>
                </thead>
                <tbody>
                {% if request.user == ticket.staff_assigned or request.user.is_superuser %}
                <tr>
                    <td><a id="email-user" href="#">New Email</a></td>
                    <td><a id="suspend-ticket" href="#">Suspend Ticket</a></td>
                    <td><a id="add-note" href="#">Add new note</a></td>
                    <td><a id="close-ticket" href="#">Close Ticket</a></td>
                </tr>
                {% else %}
                <tr>
                    <td><a class="not-active" href="">New Email</a></td>
                    <td><a class="not-active" href="#">Suspend Ticket</a></td>
                    <td><a class="not-active" href="#">Add new note</a></td>
                    <td><a class="not-active" href="#">Close Ticket</a></td>
                </tr>
                {% endif %}
                </tbody>

            </table>

            <form id="note-form">
                <fieldset>
                    <legend>Add a Note:</legend>
                    <input type="hidden" value="{{ticket.id}}" name="ticket_id" id="input_id">
                    <div class="form-group">
                        <textarea name="note" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <button type="submit" id="note-button" class="btn btn-primary">Add Note</button>
                </fieldset>
            </form>

            <form id="email-form">
                <fieldset>
                    <legend>Email User:</legend>
                    <input type="hidden" value="{{ticket.email}}" name="email" id="input_id">
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input id="subject" name="subject" class="form-control" placeholder="Subject Here">
                    </div>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea id="body" name="body" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <button type="button" id="email-button" class="btn btn-primary">Send Email</button>
                </fieldset>
            </form>

        </div>

    </div>

    <div class="col-md-6">

        <div class="container">

            <div class="heading-primary mb-5">
                <p class="heading-primary--text">Notes</p>
            </div>

            {% if request.user.is_authenticated %}

            <div class="my-5">

                {% for note in notes %}
                <div class="list-group">
                    {% if note.id == 1 %}
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-info">
                        {% else %}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start start">
                            {% endif %}
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{note.staff_user}}</h5>
                                <small>{{note.date_created}}</small>
                            </div>
                            <p class="mb-1">{{note.ticket_note}}</p>
                        </a>
                </div>
                {% endfor %}

            </div>
            {% else %}

            <div class="text-center">
            <p>Login as a Technician to view notes</p>
            <a href="{% url 'home' %}" class="btn btn-info">Login</a>
            </div>

            {% endif %}



        </div>

    </div>

</div>


{% endblock content %}

{% block js %}

<script>

    $(document).ready(function () {

        function alertTimeOut(alertId) {
            window.setTimeout(function () {
                $(alertId).fadeTo(1000, 0).slideUp(1000, function () {
                    $(alertId).hide();
                })
            }, 1000);
        };

        let alert = $('#alert-ok')
        let alertError = $('#alert-err')

        let note_form = $('#note-form');
        let email_form = $('#email-form')
        let ticket_id = $('#input_id').val();

        email_form.hide()
        note_form.hide()


        // Handling Clicks

        $('#add-note').on('click', function (event) {
            note_form.show()
        })

        $('#email-user').on('click', function (event) {
            email_form.show()
        })

        // ********************************************

        $('#note-button').on('click', function (event) {


            var fromdata = $('#note-form').serialize()

            $.ajax({

                request: 'POST',
                url: '/ticket/add_note/',
                data: fromdata,
                dataType: 'json'

            }).done(function (data) {

                note_form.hide()
                $('.alert').text(data)

            })
        })

        $('#email-button').on('click', function (event) {


            var fromdata = email_form.serialize()

            $.ajax({

                url: '/ticket/email/',
                data: fromdata,
                dataType: 'json'

            }).done(function (data) {

                email_form.hide()

            })
        })

        $('#suspend-ticket').on('click', function (event) {

            $.ajax({

                request: 'POST',
                url: '{% url "ticket-change-status" %}',
                data: {'statusId': 'Hold', 'ticket_id': ticket_id},
                dataType: 'json'

            }).done(function (data) {

                if (data['success']) {
                    alert.css('opacity', '1')
                    alert.show()
                    alert.text(data['success'])
                    alertTimeOut(alert)
                    $('#ticket-status').text('Hold')
                }
                else if (data['warning']) {
                    alertError.css('opacity', '1')
                    alertError.show()
                    alertError.text(data['warning'])
                    alertTimeOut(alertError)
                }

            })

        });

        $('#close-ticket').on('click', function (event) {

            $.ajax({

                request: 'POST',
                url: '{% url "ticket-change-status" %}',
                data: {'statusId': 'Close', 'ticket_id': ticket_id},
                dataType: 'json'

            }).done(function (data) {

                if (data['success']) {
                    alert.css('opacity', '1')
                    alert.show()
                    alert.text(data['success'])
                    alertTimeOut(alert)
                    $('#ticket-status').text('Closed')
                }
                else if (data['warning']) {
                    alertError.css('opacity', '1')
                    alertError.show()
                    alertError.text(data['warning'])
                    alertTimeOut(alertError)
                }

            })

        });

    })

</script>

{% endblock js%}
